@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 airbnbBold">Welcome</h1>
    <p>Landing page</p>
    <a class="basic-button" asp-area="" asp-controller="People" asp-action="Index">Vágjunk Bele!</a>
</div>
