@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Hiba.</h1>
<h2 class="text-danger">Hiba történt a kérés feldolgozása közben.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Fejlesztő mód</h3>
<p>
   
    A <strong>fejlesztő</strong> környezetre váltással több információt tudhatsz meg a felmerült hibáról.
p>
<p>
    
    <strong>A fejlesztő környezet engedélyezése nem ajánlott telepített alkalmazások esetén.</strong>
    Érzékeny információk esetleges kiszivárogtatására kerülhet sor kivételek által más felhasználók számára.
    Helyi debugoláshoz engedélyezze a <strong>fejlesztő</strong> környezetet az <strong>ASPNETCORE_ENVIRONMENT</strong> variáció beállítását <strong>fejlesztőre</strong> és próbálja meg újra indítani az applikációt.
</p>
