*{
    margin: 0;
    padding: 0;
    
}

html {
  font-size: 14px;
  display:flex;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}



.bg-milton {
    background-color: #213454;
    font-weight: bold;
    font-size: 18px;
    /* padding: 20px 0; */
}

body {
    background-color: ghostwhite;
    color: #0E2E5D;
    width: 100%;
    
}

thead tr {
    border-bottom-width: 1px;
    border-color: currentColor;
    text-align: center;
    font-family: Arial;
}

.basic-button {
    width: fit-content;
    border: 1px solid #8a8a8a;
    background: azure;
    border-radius: 7px;
    color: #000;
    height: 40px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    font-family: Arial;
}

.navbar{
    display: flex;
    border-bottom: solid;
    border-bottom-color: #C6DA2D;
    border-bottom-width:25px;
}
.navbar-brand {
    padding:10px;
    padding-right:10px;
    padding-left:10px;
    color: white;
    display: flex;
    font-size: 40px;
    margin-right: 60px;
    
    
}
    .navbar-brand:hover, navbar-brand:active {
        color: #213454;
        background-color: #C6DA2D;
        border-radius: 25px;
    }
   .nav-link {
        color: white;
    }

.nav-link:hover, nav-link:active {
    color: #213454;
    background-color: #C6DA2D;
    border-radius:25px;
}


.index-buttons {
    padding-top: 1rem;
    display:flex;
    text-align:center;
    justify-content:center;
    border-radius: 25px;
    border-width: 0;
    height: 60px;
    width: 150px;
    margin: 100px;
    margin-left:500px;
    background-color: #C6DA2D;
    color: #3E3838;
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
}
.index-buttons:hover, index-button:active {
    background-color: #213454;
    color: #C6DA2D;
}

td {
    line-height: 100px;
    text-align: center;
}


.details-image-side {
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0 3px 0 0;
    border-color: #C6DA2D;
    border-style: solid;
    flex: 1;
    height: 80%;
    margin-top: 5%;
}

.details-image-side img {
    
    height:100%;
    width:100%;
    object-fit:cover;
}

.details-info-side {
    flex: 2;
    padding-top: 10%;
    padding-left: 100px;
}

a{
    text-decoration: none;
    color: black;
}


.homepage {
    background-color: #213454;
    background-image: url('../Sources/NewFolder/headway-F2KRf_QfCqw-unsplash.jpg');
    background-size: cover;
    background-position: top;
    
}

.text-center{
    padding: 18%;
    
}
.display-4{
    display:flex;
 padding: 0;
 margin: 0;
 font-family: Arial 'Blackadder ITC';
 color: azure;
 text-transform:uppercase;
 font-family: Arial black;
 font-size: 70px;
 position:absolute;
 z-index:1;
 left: 340px;
 top: 200px;
}
.homepage-paragraph {
    display:flex;
    font-size: 20px;
    font-family: Arial;
    background-color: #2134548b;
    color: azure;
    padding: 160px;
    fill-opacity: initial;
    text-align: left;
    line-break: normal;
    line-height: 2;
    font-weight: 500;
    width: 1200px;
    position: absolute;
    left:400px;
    top: 250px;
}
.homepage-button {
    display:flex;   
    font-family: Arial;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border-width: 0;
    height: 40px;
    width: 150px;
    margin: 30px;
    background-color: #C6DA2D;
    color: #3E3838;
    display: flex;
    position:absolute;
    right:450px;
    bottom: 300px;
    font-weight:bold;
}
.homepage-button:hover, homepage-button:active{
    background-color: #213454;
    color: #C6DA2D;
}